<div class="col-md-4 mb-3" data-product-name="<%= product.name %>">
  <div class="card shadow-sm">
    <div class="card-body">
      <p class="card-text"><%= link_to product.name, product %></p>
      <p class="card-text"><%= product.price %></p>
      <p class="card-text"><%= product.information %></p>
      <p class="card-text"><%= product.description %></p>
      <td><%= button_to "Añadir al carro", { controller: "shopping_cart", action: "add", product_id: product.id }%></td>
    </div>
  </div>
</div>